table{
    border:1px solid #f0f0f0;

}

th{
    border-bottom:1px solid #ffffff;;
}

.comment{
    border:none;
    outline:none;
    background-color: transparent;
}

select{
    border:none;
    outline:none;
}

td{
    text-align: center;
    background-color:aliceblue;
    color:rgb(41, 28, 114);
}